python-dotenv==1.1.0
openai==1.70.0
Telethon==1.39.0
fastapi==0.115.6
uvicorn==0.34.0
cryptography==43.0.3
pydantic==2.11.2
pydantic_core==2.33.1
typing_extensions==4.13.1
python-multipart==0.0.9
redis==5.1.0
